*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#menu{
    background-color: #231A61;
    height: 120px;
    width: 100%;
    position: fixed;
    background-color: transparent;
}

#menu ul{
    float: right;
    margin-right: 20px;
}

#menu ul li{
    display: inline-block;
    line-height: 120px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}


a.menu:hover{
    background: #2F2281;
    transition: .5s;
}

.container{ 
    position: relative; 
    width: 960px; 
    margin: 0 auto; 
    padding: 0; 
}

.container .columns{ 
    width: 940px; 
}

img.logo{
    width: 140px;
    height: 120px;
    line-height: 80px;
    filter: invert(85%);
}
#Home{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#video-background{
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}